*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}
html,body{
    height: 100%;
    width: 100%;
}
#page1{
    width: 100%;
    height: 100vh;
    background-color: #dadada;
    position: relative;
}
#page1 video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}